*.*/
main/mr-tmp/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/main/mrcoordinator
/main/mrsequential
/main/mrworker

/raft/test-*.log
/raft/test-*.err
/raft/tester
/raft/tmp.txt

/kvraft/go-test-many.sh
/kvraft/test-*.log
/kvraft/test-*.err
/kvraft/tester
/kvraft/tmp.txt

/shardctrler/go-test-many.sh
/shardctrler/test-*.log
/shardctrler/test-*.err
/shardctrler/tester
/shardctrler/tmp.txt